<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbar-ago"
          aria-controls="navbar-ago"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar-ago">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{#if isAuth}}
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sites">Sites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/phpmyadmin/">MySql</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Loguot</a>
            </li>
            {{else}} 
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </header>